SPRING_RABBITMQ_HOST=rabbitmq
SPRING_RABBITMQ_PORT=5672
SPRING_RABBITMQ_USERNAME=change_me
SPRING_RABBITMQ_PASSWORD=change_me

RABBITMQ_DEFAULT_USER=change_me
RABBITMQ_DEFAULT_PASS=change_me

SPRING_DATA_REDIS_HOST=redis
SPRING_DATA_REDIS_PORT=6379

POSTGRES_DB=leadz
POSTGRES_USER=change_me
POSTGRES_PASSWORD=change_me

SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/leadz
SPRING_DATASOURCE_USERNAME=change_me
SPRING_DATASOURCE_PASSWORD=change_me
SPRING_JPA_HIBERNATE_DDL_AUTO=validate

JWT_SECRET=change_me_to_a_long_random_secret
